flask==3.0.3
flask-cors==4.0.1
experta==1.9.4
frozendict==1.2
schema==0.6.7
sqlalchemy==2.0.30
pytest==8.2.0
psycopg2-binary==2.9.9
Flask-SQLAlchemy==3.1.1
python-dotenv==1.0.1
Flask-Migrate==4.0.7
alembic==1.13.2
